.grid {
  display: grid;
  gap: 20px;
  /* mais espaçamento para as colunas da imagem */
  grid-template-columns: 2fr 1fr;
  /* repeat serve para itens repetidos, ele multiplica o número de itens iguais */
  /* grid-template-rows: repeat(3, auto) 1fr; */
  place-items: start;
}

.titulo {
  grid-column: 1 / -1;
}

/* .preco {
  grid-column: 2;
aqui seleciona a linha (row) que o preço vai ficar
  grid-row: 2;
} */

/* .foto {
  grid-row: span 3;
} */

.info {
  place-self: start;
  display: grid;
  place-items: start;
  gap: 20px;
}

/* Estilos Gerais */

body {
  font-family: Arial;
  margin: 40px;
}

h1,
p {
  margin: 0px;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

p {
  font-size: 20px;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
}

.preco {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}
